
//colors
$color-primary: #FFD366 ;
$color-dark: #424242;
$color-white: #fff;
$color-gray: rgb(245, 245, 245);
$color-ideal: #86D73F;
$color-underWeight: #31BAF9;
$color-overWeight: #FF982D;
$color-mildObesity: #FF6C03;
$color-severeObesity : #FF1200;


//font-sizes
$font-base: 1rem;
$fs-xxlg: $font-base * 2;  //32px 
$fs-xlg: $font-base * 1.5;  //24px 
$fs-lg: $font-base * 1.25;  //20px 
$fs-md: $font-base * 1.125; //18px
$fs-sm: $font-base * 0.75;  //12px
